.splash__wrapper {
    background-color: #fff;
}

.splash__wrapper h1 {
    font-family: "Agustina Regular";
}

.splash {
    background-color: var(--primary);
    border-radius: 100%;
    padding: 100px;
    animation: grow 5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1);
        border-radius: 0%;
        height: 100%;
        width: 100%;
    }
    90% {
        transform: scale(1);
        border-radius: 0%;
        height: 100%;
        width: 100%;
    }
    100% {
        transform: scale(0);
        transform-origin: 50% 50%;
        border-radius: 100%;
    }
}