.exp__card {
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 20px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp__svg>img {
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .exp__svg>img {
        width: 60%;
    }
    .exp__card {
        flex-direction: column;
        align-items: flex-start;
    }
    .exp__card h5 {
        font-size: 20px !important;
    }
    .exp__desc {
        font-size: 14px !important;
    }
    .exp__year {
        font-size: 13px !important;
        margin-top: 10px;
    }
}