.project__wrapper {
    margin-top: 100px;
    margin-bottom: 80px;
}

.projects__overview {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.projects__svg>img {
    width: 80%;
}

.projects {
    grid-gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.showcase {
    position: relative;
}

.showcase p {
    position: absolute;
    top: 50%;
    left: 45%;
    display: none;
}

.showcase:hover .overlay {
    opacity: 0.8;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: var(--primary);
}

.overlay__text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.project__card {
    border: 2px solid var(--secondary);
    padding: 20px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .projects__overview {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 50px;
    }
    .projects {
        width: 95%;
    }
    .projects__svg>img {
        margin-bottom: 55px;
        width: 70%;
    }
    .project__wrapper {
        margin-top: 50px;
    }
    .project__card {
        margin-bottom: 50px;
    }
    .project__card h5 {
        font-size: 18px !important;
    }
    .project__card p {
        font-size: 15px !important;
    }
}