@font-face {
    font-family: "Agustina Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Agustina Regular"), url("./assets/fonts/Agustina.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-style: normal;
    src: local("Google Sans"), url("./assets/fonts/GoogleSans-Regular.ttf") format("woff");
    font-display: swap;
}

:root {
    --primary: #171c28 !important;
    --text: #f0f8ff !important;
    --secondary: #55198b !important;
}

* {
    margin: 0;
    font: 19px / 23px "Google Sans", sans-serif;
}

body,
html {
    background-color: var(--primary) !important;
    color: var(--text) !important;
}

.button--global {
    background-color: var(--secondary) !important;
    outline: none !important;
    border: 1px solid var(--secondary) !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: none !important;
}

.button--global:hover,
.button--global:focus,
.button--global:active {
    background-color: #ee1e40 !important;
    transition: 0.3s ease-in-out;
}

.text--light {
    color: #bbb !important;
}

@media only screen and (max-width: 768px) {
    .button--global {
        font-size: 15px !important;
    }
    h1 {
        font-size: 30px !important;
    }
    h2,
    h5,
    h4 {
        font-size: 25px !important;
    }
    p {
        font-size: 16px !important;
    }
}